@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --light-base: #faebf2;
  --base: #FFC7E3;
  --dark-base: #cc4589;
  --dull-base: #6f2c4d;
  --hair: #ffc233;

  --yellow-light-base: #fff7e6;
  --yellow-base: #fcdd92;
  --yellow-dark-base: #ffc233;
  --yellow-dull-base: #755301;

  

}

body {
  background-color: var(--base);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-base);
  opacity: 0.75;
}

button {
  font-family: 'Poppins', sans-serif;
}

textarea, input {
  font-family: 'Poppins', sans-serif;
}
